h1 {
    text-align: center;
    text-transform: capitalize;
    color: brown
}

hr {
    background: brown;
    height: 10px;
    border: 2px solid red
}

// why can't I set BODY bakground color?
body {background: red}

ul {
    background: tan;
    padding: 60px
}